header h1 {
	font-weight: bold;
}

header h1, header h2 {
	font-style: normal;
	margin: 10px;
}

address img { margin-bottom: 1em; }

address ul {
	list-style-type: none;
	padding-left: 0 !important;
}

.github, .linkedin {
	padding-left: 22px;
	background-size: 16px 16px  !important;
	background-repeat: no-repeat !important;
}

.linkedin { background-image: url('../images/linkedin.png') !important; }
.github { background-image: url('../images/github.png') !important; } 
/* need important to remain when printed */

p, dd { text-align: justify; }

p.lead { margin-top: 20px; font-weight: normal; text-align: left; }

dd { margin-left: 1em; margin-bottom: 0.25em; }
dt time { font-weight: normal; font-size: 90%; }

.software { font-family: monospace; }

var sub:last-child { padding-right: 0.25em; }

dt small:before { content: '\A'; }
dt small { white-space:pre; font-weight: normal; }
/* http://stackoverflow.com/a/11750985 */

aside ul {
	padding-left: 20px;
}

abbr[title] {
	/* Nicked from bootstrap 4 beta */
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}
