@import url(https://fonts.googleapis.com/css?family=Roboto:400italic,400,700);

body {font-family: "Roboto";}

body > header h1 {
	font-style: normal;
	font-weight: bold;
	margin: 10px;
}

h1, h2, h3, h4, h5, h6 { font-style: italic; }

address ul {
	list-style-type: none;
	padding-left: 0;
}

.glyphicon {
	margin-right: 4px;
}

.glyphicon-blank::before {
	content: "\2212";
	visibility: hidden;
}

.github {
	padding-left: 22px;
	background: url('../images/github.png');
	background-size: 16px 16px;
	background-repeat: no-repeat;
}

p {
	text-align: justify
}

p.lead {
	margin-top: 20px;
}

dd {
	margin-left: 1em;
}

.software {
	font-family: monospace;
}

dt small:before { content: '\A'; }
dt small { white-space:pre; font-weight: normal; }
/* http://stackoverflow.com/a/11750985 */