/* Hide parts not needed for printing */

.screen-only { display: none; }

#working_on,
#about_research,
dd,
#contact h3,
#download_cv,
#links,
header h2,
footer {
	display: none;
}

#education dd { display: block; }

/* style changes */

header {
	text-align: center;
	font-variant: small-caps;
}

body {
	font-family: Georgia, "Lucida Bright", serif;
}

a { color: inherit; }

abbr { border-bottom: none !important; }

.img-thumbnail {
	border: 0;
	padding: 0;
	border-radius: 0;
}
