.cv-only { display: none; }

body {
	background: rgb(239,235,234);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

a, a:hover, a:focus { color: rgb(220,55,85); text-decoration: inherit; }
a[href]:hover, a[href]:focus { text-decoration: underline; }
a:visited { color: #9E5765; }

body > header {
	background: rgb(200,50,80);
	color: #eee;
}

header h2 { color: #ddd; }

body > .container {
	background-color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
	body > .container {
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
		clip-path: inset(0px -10px 0px -10px);
	}
}

figure {
	background: rgb(239,235,234);
	padding: 10px;
	padding-left: 10px;
	font-style: italic;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

figure strong {
	font-style: normal;
}

footer {
	height: 20px;
	background: rgba(200,50,80, 0.2);
}
