.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	text-transform: none;
	font-weight: bold;
	/* -webkit-text-stroke: 0.05ex #333; */
	text-shadow: 0 0 0.5ex black;
}

.reveal h2 { font-size: 1.3em; }
.reveal h3 { font-size: 1.0em; }

.reveal .slide-background.present {
	opacity: 0.6;
}

body {
	background: #555555;
	background: radial-gradient(ellipse at center, #866 0%, #441818 100%);
}

.reveal .katex.inline:not(first) {
    margin-left: 0 !important;
}


.reveal li {
	margin: 10px 0;
}

.reveal li p {
	margin: 0;
}

.reveal li img {
	background: none;
	border: none;
	box-shadow: none;
	vertical-align: middle;
}

.reveal li em {
    color: #dbb;
    font-size: 65%;
    margin-left: 1em;
}

.reveal blockquote {
	padding: 0 1em;
	text-align: left;
	font-style: normal;
	width: auto;
}

.reveal h1, .reveal h2 {
	text-shadow: 0 0 0.5ex black;
	color: white;
}
/* sans math */
.reveal .katex, .katex, .katex .mathit { font-family: KaTeX_SansSerif !important; }
